[SddmGreeterTheme]
Name=Train Lock
Description=An SDDM theme matching the Hyprlock train lock screen
Author=easonni
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=train-lock
Theme-API=2.0
